{% extends 'layout.html' %}{% block title %} Dynamic Landslide Chiang Mai {% endblock %} {% block content %}
<h4 class="text-center p-3">เกี่ยวกับโครงการ</h4>
<div class="container">
  <p>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;โครงการพัฒนาระบบการสำรวจและบริหารจัดการพื้นที่เสี่ยงภัยน้ำท่วมและดินถล่ม บนพื้นฐานของเทคโนโลยีสารสนเทศและการจัดการขั้นสูง (Development of Survey and Management System for Flood and Landslide Risk Areas Based on Information Technology and Advanced Management) เป็นโครงการที่ได้รับทุนอุดหนุนจากสำนักงานคณะกรรมการส่งเสริมวิทยาศาสตร์ วิจัยและนวัตกรรม (สกสว.) ผ่านทางมหาวิทยาลัยเชียงใหม่ ประจำปีงบประมาณ 2564 (ด้านวิจัยและนวัตกรรม ประเภท Fundamental Fund)
  </p>
  <p>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ปัญหาน้ำท่วมและดินถล่มเป็นภัยพิบัติที่เกิดขึ้นค่อนข้างบ่อยและสร้างความเสียหายกับชีวิตและทรัพย์สินของประชาชนในพื้นที่ภาคเหนือโดยเฉพาะอย่างยิ่งกับลุ่มน้ำปิงและเขตจังหวัดในพื้นที่สูง เช่น จังหวัดเชียงใหม่ เชียงราย พะเยา เป็นต้น
    ซึ่งการที่จะลดทอนความสูญเสียได้นั้นจำเป็นต้องมีเครื่องมือในการบริหารจัดการและกำหนดทิศทางของการพัฒนาทรัพยากรน้ำของจังหวัดและบูรณาการสู่แผนบริหารจัดการทรัพยากรน้ำของจังหวัดในภาพรวมอย่างมีกระบวนการมีส่วนร่วมของทุกภาคส่วนบนพื้นฐานของเทคโนโลยีสารสนเทศและการจัดการขั้นสูง เพื่อรองรับการบริหารจัดการทรัพยากรน้ำในพื้นที่ของจังหวัดอย่างยั่งยืน และสนองตอบความต้องการของประชาชนทุกภาคส่วนอย่างเป็นระบบโดยรวม ด้วยความที่ภูมิประเทศส่วนใหญ่ของจังหวัดเชียงใหม่เป็นพื้นที่ลาดชัน
    ซึ่งมีแนวโน้มในการพังทลายของบริเวณดังกล่าวโดยง่ายจากปัจจัยต่อเนื่องจากฝนตกและน้ำท่วมไหลหลาก โดยจะเป็นอันตรายต่อพื้นที่ที่มีประชากรอาศัยและรวมถึงพื้นที่แหล่งท่องเที่ยวที่สำคัญของจังหวัดด้วยเช่นกัน โดยการพังทลายของพื้นที่ลาดจะเกิดขึ้นในฤดูฝนเนื่องจากปัจจัยหลายอย่าง ในปัจจุบันการที่ไม่มีระบบการจัดการกับการพังทลายของบริเวณความลาดอย่างมีประสิทธิภาพในปัจจุบัน ทำให้เกิดความไม่ปลอดภัยกับผู้อยู่อาศัยและนักท่องเที่ยว อีกทั้งต้องเสียงบประมาณและเวลาในการจัดการบริเวณที่มีการพังทลายแล้ว
    ดังนั้นการพัฒนาแผนที่เขตเสี่ยงภัยดินถล่มบนพื้นฐานของเทคโนโลยีสารสนเทศและการจัดการขั้นสูง ในบริเวณพื้นที่อยู่อาศัยและสถานที่ท่องเที่ยวที่สำคัญที่เป็นลาดเชิงเขาจึงเป็นเครื่องมือที่มีประสิทธิภาพในการประเมินความเสี่ยงของการพังทลายของพื้นลาดเชิงเขาได้อย่างรวดเร็ว เพื่อให้การจัดการและบริหารงานของชุมชนและสถานที่ท่องเที่ยวอยู่อยู่ในพื้นที่เสี่ยงภัยดินถล่มของจังหวัดเชียงใหม่เป็นไปอย่างมีประสิทธิภาพมากยิ่งขึ้น
  </p>
</div>

<br />
{% load static %}
<div class="row">
  <div class="col-lg-6">
    <div class="card mx-auto" style="width: 80%; border-radius: 0.75rem">
      <div class="row no-gutters">
        <div class="col-md-4">
          <a href="https://www.facebook.com/818CICE/">
            <img src="{% static 'img/facebook/water.jpg' %}" class="card-img w-100" />
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="https://www.facebook.com/818CICE/" style="text-decoration: none; color: black">Water Sensitive City Laboratory, Engineering - CMU</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card mx-auto" style="width: 80%; border-radius: 0.75rem">
      <div class="row no-gutters">
        <div class="col-md-4">
          <a href="https://www.facebook.com/CENDiMcmu/">
            <img src="{% static 'img/facebook/cendim.png' %}" class="card-img w-100" />
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="https://www.facebook.com/CENDiMcmu/" style="text-decoration: none; color: black">ศูนย์วิจัยด้านการจัดการภัยพิบัติทางธรรมชาติ มช.</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
